html {
  background-color: black;
}

.allPage{
  background-image: url('./images/armyColor.jpg');
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

.mainForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
}

.shiftTime {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin: 5%;
  gap: 8px;
}

.input {
  margin: 10px !important;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; 
  gap: 8px;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; 
  gap: 8px;
}

.evenTime{
  margin: 0 auto  !important;
  max-width: 50%;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border: 1px solid black;
  border-radius:100%;
}

.result{
  max-width: 550px;
  margin: 0 auto  !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
	float: none !important; 
  border-radius: 2px;
  background-color: white;
}

.tableResult{
display: contents !important;
}

.resultHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactDetails{
  text-align: center;
}

.MuiInputBase-input {
  text-align: right;
}

.MuiButton-root {
  padding: 3px 10px !important;
}

.MuiTableCell-head {
  font-weight: bold !important;
}
